.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.chuckJokes {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(239, 96, 7);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    max-width: 50%;
}

.dadJokes {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(150, 4, 136);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    max-width: 50%;
}